--extra-index-url https://download.pytorch.org/whl/cu113
torch==2.1.0
torch-fidelity
scipy
importlib_resources
torchaudio==2.1.0
torchvision==0.16.0
tqdm
omegaconf
einops
numpy>=1.21.0,<1.24.0
soundfile
librosa==0.9.2
pandas
torchlibrosa
transformers>=4.21.0,<4.36.0
soxr
ftfy
pytorch-lightning
torchmetrics
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
boto3
fastapi
pydantic
uvicorn
python-dotenv>=1.1.1